@media screen and (min-width: 768px){
    #content{
        height:500px;
        width:100%;
        background: red;
    }
    .show-btn{
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-transform: translate(0,20px);
        -moz-transform: translate(0,20px);
        -ms-transform: translate(0,20px);
        -o-transform: translate(0,20px);
        transform: translate(0,20px);
        opacity:.0;
        font-family:"Microsoft YaHei UI Light";
        font-size:60px;
        height:100px;
        width:200px;
    }
    .forBtn:hover .show-btn{
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }
    .introduction{
        margin:14px;
        position: absolute;
        bottom:0;
        height:150px;
        left:0;
        right:0;
        background:rgba(0,0,0,0.4);
        color: white;
        font-family:"Microsoft YaHei UI Light";

    }
    .madeButton{
        height: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .madeBtn{
        font-size: 70px;
        font-family: 'Microsoft YaHei UI Light';
    }
    .btnText{
        font-size:40px;
    }

}
@media screen and (max-width: 768px){
    #content{
        background: #000;
        height:500px;
        width:100%;
    }
    .show-btn{
        font-size:40px;
        height:60px;
        width:120px;
    }
    .madeButton{
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .madeBtn{
        font-size: 30px;
        font-family: 'Microsoft YaHei UI Light';
    }
    .btnText{
        font-size: 20px;
    }
}
html,body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

#content{

    margin:0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
#canvas{
    height:100%;
    width:100%;
}

.spirit{
    height:100px;
    width:100px;
    position: absolute;
    top:0;
    border-radius:50%;
}
.MainSpirit{
    height:100px;
    width:100px;
    position: absolute;
    top:0;
    border-radius:50%;
}
#start{
    position: absolute;
}
.navStyle{
    background: white;
    opacity: .5;
    box-shadow: gainsboro 1px 1px 10px;
}
body{
    background-image: url(/images/bg/bg.jpg);
    background-attachment: fixed;
}
.show-btn{
    margin:auto;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}
.btnContainer{
    background: whitesmoke;
    height:100%;
    padding:0;
}
.playBtn{
    margin-top: 15%;
}
#content{
    background: url("/images/gameBackgroud.jpg");
    background-repeat: repeat-x;
}
